@font-face { font-family: Lilly ; src: url('/static/fonts/Lilly__.ttf'); } 

a, img { border:none; }
body{
  font-size:12px;
  font-family:helvetica, georgia, arial, verdana, serif;
}
#wrapper { 
  width:800px; 
  margin:0px auto; 
  text-align:center;
}
#midarea {
  background: url(/static/images/blueshit.png) bottom center no-repeat;
  min-height:120px;
  padding-bottom:120px;
}
.notice {
  background:#abddf4;
  color:#4444bb;
  text-shadow:1px 1px 1px #fff;
  -moz-border-radius:5px;
  -webkit-border-radius:15px;
  border-radius:15px;
  padding:10px 15px;
  width:70%;
  margin:0px auto;
  font-family:Lilly;
}
