@font-face { font-family: Lilly ; src: url('/static/fonts/Lilly__.ttf'); } 

a, img { border:none; }
a:visited { color:blue; }
body{
  font-size:12px;
  font-family:helvetica, georgia, arial, verdana, serif;
  background:#e6f5ff;
  padding:0px; margin-top:5%;
}
#wrapper { 
  width:820px; 
  margin:0px auto; 
  text-align:center;
  background:#ffffff;
  -moz-box-shadow:0px 0px 15px #aaa;
  -webkit-box-shadow:0px 0px 15px #aaa;
  border-radius:20px;
  -moz-border-radius:20px;
  -webskit-border-radius:20px;
}
#midarea {
  background: url(/static/images/blueshit.png) bottom center no-repeat;
  min-height:80px;
  padding-bottom:120px;
}
.notice, .notice2 {
  /*background:#abddf4;*/
  color:#4444bb;
  text-shadow:1px 1px 1px #fff;
  -moz-border-radius:5px;
  -webkit-border-radius:15px;
  border-radius:15px;
  padding:10px 15px;
  width:70%;
  margin:5px auto;
  font-family:Lilly;
}
.notice2{
  background:#ffff99;
  color:#e5786d;
}
