{% extends 'skeleton.html' %}

{% block logo %}
    <div id='upperlogo'>
      <img src='/static/images/logo_med.jpg' alt='SlideMyTime'/>
    </div>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div id='midarea'>
      <div class='notice'>
        This is a SlideMyTime instance. Please <a href="{{login_url}}">log in</a> if you're the owner of
        this instance.
        <br />
        <a href="#">Discover SlideMyTime</a> if you haven't already.
      </div>
      {% if not is_not_logged_in %}
      {% if not is_admin %}
        <div class='notice'>
          {{nick}}, you need to be the owner of this GAE instance to be able to
          access.
          <br />
          Learn more about setting up you own <a href="#">here</a>
        </div>
      {% endif %}
      {% endif %}
    </div>
{% endblock %}
