{% extends 'skeleton.html' %}

{% block content %}
  <div id='storage_stat'>
    <div id='total_bytes'>
        Storage :
        {{total_mbytes}} MB
        {% for i in total_micro %}
            <span id='byte_block'>
                <img src='/static/images/spacer.gif' />
            </span>
        {% endfor %}
        {% for i in remaining_micro %}
            <span id='empty_byte_block'>
                <img src='/static/images/spacer.gif' />
            </span>
        {% endfor %}
    </div>
  </div>
{% endblock %}
